# This is an EXAMPLE file, do not put real secrets in here.
# Copy it to .env and then DELETE THIS COMMENT.
# (This is a bit different from the others, which live in config.
# This one is just for the variables in the docker compose file)
HASHER_API_LISTEN_PORT=
