# This is an EXAMPLE file, do not put real secrets in here.
# Copy it to ../config/ehr_lookup.env and then DELETE THIS COMMENT.
CABOODLE_DBNAME="fakecab"
CABOODLE_USERNAME="inform_user"
CABOODLE_PASSWORD="inform"
CABOODLE_HOST="localhost"
CABOODLE_PORT="5433"
CABOODLE_CONNECT_TIMEOUT="10"  # in seconds
CABOODLE_QUERY_TIMEOUT="3000"  # in milliseconds

# To avoid having to deploy a fake caboodle for testing we have 
# a testing flag for Caboodle. If set TRUE caboodle connection will
# fail silently and ehr file will be created with fake data
CABOODLE_TESTING="FALSE"
