# This is an EXAMPLE file, do not put real secrets in here.
# Copy it to ./config/*.env and then DELETE THIS COMMENT.
# When does the exporter run
EXPORTER_CRON_SCHEDULE="14 5 * * * *"
FTPS_HOST=myftps.example.com
FTPS_PORT=990
FTPS_USERNAME=my_username
FTPS_PASSWORD=my_password
