# This is an EXAMPLE file, do not put real secrets in here.
# Copy it to ../config/exporter.env and then DELETE THIS COMMENT.
# When does the exporter run
EXPORTER_CRON_SCHEDULE="14 5 * * *"
# Where to upload via FTPS
FTPS_HOST=myftps.example.com
FTPS_PORT=990
FTPS_USERNAME=
FTPS_PASSWORD=
# only run workflow up to and including the specified rule
SNAKEMAKE_RULE_UNTIL=
# number of cores to dedicate to snakemake (default=1)
SNAKEMAKE_CORES=
# point to the hasher we wish to use
HASHER_API_HOSTNAME=waveform-hasher
HASHER_API_PORT=8000
# A name for this instance of the software to identify
# its output in the FTPS output.
# Do not use the name "production" anywhere outside production!
INSTANCE_NAME=

# How long must it have been since an original CSV was last modified before
# progressing it down the pipeline?
CSV_AGE_THRESHOLD_MINUTES=180

# For production use only process CSV files that have a date matching to
# yesterday. Setting this to False will process all relevant csv, which may
# be useful for development or restarting a stopped service.
ONLY_USE_CSV_FROM_YESTERDAY=True

# if ONLY_USE_CSV_FROM_YESTERDAY set False, you can optionally
# specify a date to process format YYYY-MM-DD also accepts a regular
# expression to match multiple date
PROCESS_CSV_FROM_DATE=
