# This is an EXAMPLE file, do not put real secrets in here.
# Copy it to ../config/hasher.env and then DELETE THIS COMMENT.
# Details for the Azure service principal, so it can log in to the keyvault.
# aka "appId"
AZURE_CLIENT_ID=
# aka "password"
AZURE_CLIENT_SECRET=
# aka "tenant"
AZURE_TENANT_ID=
# the name of the key vault, NOT the service principal
AZURE_KEY_VAULT_NAME=

# This is the "variable name" of the actual secret,
# and can be fixed and is not secret itself
AZURE_KEY_VAULT_SECRET_NAME="waveform-secret-key" # pragma: allowlist secret
