# This is an EXAMPLE file, do not put real secrets in here.
# Copy it to ../config/hasher.env and then DELETE THIS COMMENT.
HASHER_API_AZ_CLIENT_ID=
HASHER_API_AZ_CLIENT_PASSWORD=
HASHER_API_AZ_TENANT_ID=
HASHER_API_AZ_KEY_VAULT_NAME=
