# This is an EXAMPLE file, do not put real secrets in here.
# Copy it to ../config/lgtm.env and then DELETE THIS COMMENT.

# Change the URL hostname for each deployment, to match the hostname
# that the browser sees when accessing this site. Eg. the GAE hostname.
# The URL path should not routinely be changed, as it needs to match
# what the reverse proxy (nginx) is serving us on.
GF_SERVER_ROOT_URL: "%(protocol)s://localhost:7100/local-grafana/"
