# This is an EXAMPLE file, do not put real secrets in here.
# Copy it to ../config/monitoring.env and then DELETE THIS COMMENT.
# When does the monitoring job run
MONITORING_CRON_SCHEDULE="*/15 * * * *"
# OpenTelemetry OTLP/HTTP endpoint of the LGTM collector.
OTEL_EXPORTER_OTLP_ENDPOINT="http://lgtm:4318"
OTEL_SERVICE_NAME=waveform-monitoring
